@import url(./addButton.css);
@import url(./addContainer.css);
@import url(./addForm.css);
@import url(./addInput.css);
@import url(./addTitle.css);

.add__container {
    background: var(--lightest-variation);
    padding-top: 5.75rem;
    padding-bottom: 5.75rem;
    display: flex;
    justify-content: center;
}