@import url(/assets/css/login/loginForm.css);
@import url(/assets/css/login/loginTitle.css);
@import url(/assets/css/login/loginInput.css);
@import url(/assets/css/login/loginButton.css);

.login__container {
    background: var(--lightest-variation);
    padding-top: 5.75rem;
    padding-bottom: 5.75rem;
    display: flex;
    justify-content: center;
}