@import url(./loginForm.css);
@import url(./loginTitle.css);
@import url(./loginInput.css);
@import url(./loginButton.css);

.login__container {
    background: var(--lightest-variation);
    padding-top: 5.75rem;
    padding-bottom: 5.75rem;
    display: flex;
    justify-content: center;
}