.contacto__contactar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 0px) {
    .contacto__contactar {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .contacto__contactar {
        width: 55%;
    }
}

@media screen and (min-width: 1024px) {
    .contacto__contactar {
        width: 40%;
    }
}

